<section data-bs-version="5.1" class="footer1 structurem5 cid-tL949BD2D0" once="footers" id="afooter1-19">

    

    
    
    <div class="container">
        <div class="main-container">
            <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html">
                            <img src="assets/images/logo-2017-200x111.png" alt="Conoce a tu candidata o candidato" style="height: 3.5rem;">
                        </a>
                    </span>
                
            </div>
            
            <div class="social-list">
                <div class="soc-item">
                    <a href="https://www.instagram.com/ie_cm/" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span></a>
                </div>
                <div class="soc-item">
                    <a href="https://www.youtube.com/user/InstitutoElectoralDF" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span></a>
                </div>
                <div class="soc-item">
                    <a href="https://twitter.com/iecm" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span></a>
                </div>
                <div class="soc-item">
                    <a href="https://www.facebook.com/InstitutoElectoralCM" target="_blank"><span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span></a>
                </div>
                
                
            </div>

            <div class="copyright-container">
                <div class="border-item"></div>
                <p class="copyright mb-0 mbr-fonts-style display-7">
                    © IECM 2023 - Instituto Electoral de la Ciudad de México&nbsp;</p>
            </div>
        </div>
    </div>
</section>