
<section data-bs-version="5.1" class="header4 cid-tKFPRYiGAC" id="header04-2">

    

    
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong><img src="https://www.iecm.mx/www/images/conoceles.png" alt="Conóceles">
</strong></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">¡Nos une saber quién es quién en las elecciones!</h2>
                <p class="mbr-text mbr-fonts-style display-7">Consulta la información proporcionada por las personas candidatas que participan en el Proceso Electoral Local Ordinario 2023-2024.<br></p>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="article3 cid-tKFWB7wh7O" id="article03-4">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-12">
                 
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>¿QUIÉN ES QUIÉN EN LAS ELECCIONES?</strong></h3>
                
                </div>
                            <div class="title col-md-12 col-lg-6">

                <p class="mbr-section-text pt-5 align-left mbr-fonts-style mb-4 display-7">Para conocer la información de las candidaturas contendientes en la Ciudad de México, selecciona el tipo de búsqueda y después da clic a la candidatura para conocer su perfil.
<br>
<br></p>
               
            </div>
        </div>
    </div>
</section>

<section class="form cid-tKFWKc604l" id="formbuilder-5">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Buscador"><input type="hidden" name="email" data-form-email="true" value="t7/A3WrX7+mq/13l2TLAAE5kGg/RzOtNaTG0qqu98gQDsw24tiyIDmrt1+yZYj8SRDvITQeX7wGH884bq7bFkVpUY8BCQaklzmi4BQPtm4I9edA2Fpbw3sLEjO43q9aK.i/mF+D/EaX5UfNGmDEPCfnYBzvihJzauSg7i6Xte+ptuOWyKDL3FwaubojcaqNN7WFvwwxHry/353bqqoMDe/oRx4at6n/ilDuxmq9mXkMZfIsH535S7Kw+z/6afQUsW">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">IECM</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h3 class="mbr-fonts-style display-5">Selecciona el tipo de búsqueda</h3>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<hr>
</div>
<div data-for="Cargo" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="Cargo-formbuilder-5" class="form-control-label mbr-fonts-style display-7"><strong>Por cargo</strong></label>
<select name="Cargo" data-form-field="Cargo" class="form-control form-select display-7" id="Cargo-formbuilder-5">
<option value="Jefatura de gobierno">Jefatura de gobierno</option>
<option value="Alcaldías">Alcaldías</option>
<option value="Concejalías">Concejalías</option>
<option value="Diputación Migrante">Diputación Migrante</option>
<option value="Diputación de Mayoría Relativa">Diputación de Mayoría Relativa</option>
<option value="Diputación de Representación Proporcional">Diputación de Representación Proporcional</option>
</select>
</div>
<div data-for="Partido" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="Partido-formbuilder-5" class="form-control-label mbr-fonts-style display-7"><strong>Por partido</strong></label>
<select name="Partido" data-form-field="Partido" class="form-control form-select display-7" id="Partido-formbuilder-5">
<option value="Partido Acción Nacional (PAN)">Partido Acción Nacional (PAN)</option>
<option value="Partido Revolucionario Institucional (PRI)">Partido Revolucionario Institucional (PRI)</option>
<option value="Partido de la Revolución Democrática (PRD)">Partido de la Revolución Democrática (PRD)</option>
<option value="Partido Verde Ecologista de México (PVEM)">Partido Verde Ecologista de México (PVEM)</option>
<option value="Partido del Trabajo (PT)">Partido del Trabajo (PT)</option>
<option value="Partido Movimiento Ciudadano (PMC)">Partido Movimiento Ciudadano (PMC)</option>
<option value="Partido MORENA">Partido MORENA</option>
<option value="Sin Partido">Sin Partido</option>
</select>
</div>
<div data-for="Alcaldía" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="Alcaldía-formbuilder-5" class="form-control-label mbr-fonts-style display-7"><strong>Por alcaldía</strong></label>
<select name="Alcaldía" data-form-field="Alcaldía" class="form-control form-select display-7" id="Alcaldía-formbuilder-5">
<option value="Álvaro Obregón">Álvaro Obregón</option>
<option value="Azcapotzalco">Azcapotzalco</option>
<option value="Benito Juárez">Benito Juárez</option>
<option value="Coyoacán">Coyoacán</option>
<option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
<option value="Cuauhtémoc">Cuauhtémoc</option>
<option value="Gustavo A. Madero">Gustavo A. Madero</option>
<option value="Iztacalco">Iztacalco</option>
<option value="Iztapalapa">Iztapalapa</option>
<option value="La Magdalena Contreras">La Magdalena Contreras</option>
<option value="Miguel Hidalgo">Miguel Hidalgo</option>
<option value="Milpa Alta">Milpa Alta</option>
<option value="Tláhuac">Tláhuac</option>
<option value="Tlalpan">Tlalpan</option>
<option value="Venustiano Carranza">Venustiano Carranza</option>
<option value="Xochimilco">Xochimilco</option>
</select>
</div>
<div data-for="Distritos" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="Distritos-formbuilder-5" class="form-control-label mbr-fonts-style display-7"><strong>Por distrito</strong></label>
<select name="Distritos" data-form-field="Distritos" class="form-control form-select display-7" id="Distritos-formbuilder-5">
<option value="Distrito 01">Distrito 01</option>
<option value="Distrito 02">Distrito 02</option>
<option value="Distrito 03">Distrito 03</option>
<option value="Distrito 04">Distrito 04</option>
<option value="Distrito 05">Distrito 05</option>
<option value="Distrito 06">Distrito 06</option>
<option value="Distrito 07">Distrito 07</option>
<option value="Distrito 08">Distrito 08</option>
<option value="Distrito 09">Distrito 09</option>
<option value="Distrito 10">Distrito 10</option>
<option value="Distrito 11">Distrito 11</option>
<option value="Distrito 12">Distrito 12</option>
<option value="Distrito 13">Distrito 13</option>
<option value="Distrito 14">Distrito 14</option>
<option value="Distrito 15">Distrito 15</option>
<option value="Distrito 16">Distrito 16</option>
<option value="Distrito 17">Distrito 17</option>
<option value="Distrito 18">Distrito 18</option>
<option value="Distrito 19">Distrito 19</option>
<option value="Distrito 20">Distrito 20</option>
<option value="Distrito 21">Distrito 21</option>
<option value="Distrito 22">Distrito 22</option>
<option value="Distrito 23">Distrito 23</option>
<option value="Distrito 24">Distrito 24</option>
<option value="Distrito 25">Distrito 25</option>
<option value="Distrito 26">Distrito 26</option>
<option value="Distrito 27">Distrito 27</option>
<option value="Distrito 28">Distrito 28</option>
<option value="Distrito 29">Distrito 29</option>
<option value="Distrito 30">Distrito 30</option>
<option value="Distrito 31">Distrito 31</option>
<option value="Distrito 32">Distrito 32</option>
<option value="Distrito 33">Distrito 33</option>
</select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="Nombre">
<label for="Nombre-formbuilder-5" class="form-control-label mbr-fonts-style display-7"><strong>Por nombre</strong></label>
<input type="text" name="Nombre" placeholder="Inserta el nombre" data-form-field="Nombre" class="form-control display-7" value="" id="Nombre-formbuilder-5">
</div>
<div class="col-auto"><button type="submit" class="w-100 w-100 w-100 w-100 btn btn-secondary-outline display-7">Buscar</button></div>
</div>
</form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>